{% load static %}

<link href="{% static 'frontend/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'frontend/css/flexslider.css' %}" type="text/css" media="screen" property="" />
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/zoomslider.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/style.css' %}" />
<link href="{% static 'frontend/css/font-awesome.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/lightbox.css' %}" />
<script type="text/javascript" src="{% static 'frontend/js/modernizr-2.6.2.min.js' %}"></script>
<link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600" rel="stylesheet">
<link rel="shortcut icon" href="{%  static 'frontend/images/favicon.ico' %}">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>