{% load static %}
<script type="text/javascript" src="{% static 'frontend/js/jquery-2.1.4.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //Dropdown-Menu-JavaScript -->


<script type="text/javascript" src="{% static 'frontend/js/jquery.zoomslider.min.js' %}"></script>
<!-- search-jQuery -->
<script src="{% static 'frontend/js/main.js' %}"></script>

<!--/script-->
<script src="{% static 'frontend/js/simplePlayer.js' %}"></script>
<script>
    $("document").ready(function () {
        $("#video").simplePlayer();
    });
</script>
<!-- flexSlider -->
<script defer src="{% static 'frontend/js/jquery.flexslider.js' %}"></script>
<script type="text/javascript">
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
</script>
<!--//script for portfolio-->
<!-- Calendar -->
<link rel="stylesheet" href="{% static 'frontend/css/jquery-ui.css' %}" />
<script src="{% static 'frontend/js/jquery-ui.js' %}"></script>
<script>
    $(function () {
        $("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
    });
</script>
<!-- //Calendar -->
<script type="text/javascript" src="{% static 'frontend/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/easing.js' %}"></script>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!--end-smooth-scrolling-->
<!--js for bootstrap working-->
<script src="{% static 'frontend/js/bootstrap.js' %}"></script>
<!-- //for bootstrap working -->